version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: postgres-database
    restart: always
    env_file:
      - .env.database
    networks:
      - server_network
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: redis-cache
    restart: always
    networks:
      - server_network
    ports:
      - "6379:6379"
    command: redis-server --requirepass ${REDIS_PASSWORD} --save 60 1 --loglevel warning
    env_file:
      - .env

  nest-app:
    container_name: nest-js-app
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - .env
    networks:
      - server_network

networks:
  server_network:
    driver: bridge